<div class="container ">
    <div class="row">
        <div class="col">
            <div class="counter-box"> 
                <i class="fa fa-film"></i> <br />
                <div class="counter">{{movies.totalItemsCount}}</div><br />
                <div class="link-box">  
                    <a class="link" href="/movies">Movies</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="counter-box">
                <i class="fa-solid fa-compact-disc"></i>
                <div class="counter">{{disks.length}}</div> <br />
                <div class="link-box">  
                    <a class="link" href="/Discs">Discs</a>
                </div>
            </div>
        </div> 
    </div>
</div>